* {
  --primary: #574D68;
  --primary-light: #807297;
}

.Wrapper {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  .App {
    flex-direction: row;
  }

  /* .Toolbar {
    padding: 1rem;
    background-color: var(--primary);
  } */
}